.desktop-screen {
  background: url("./images/background-img.png");
  min-height: 100vh;
  background-size: cover;
}

.header {
  padding: 34px 109px 25px 109px;
  border-bottom: solid 1px #8B171A;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  width: 212.74px;
  height: 39.13px;
  object-fit: cover;
}

@media only screen and (max-width: 1280px) {
  .header {
    padding: 34px 10px 25px 10px;
  }
}

.header__address {
  text-align: right;
  list-style: none;
}

.price-table {
  padding: 25px 109px 0 109px;
}

@media only screen and (max-width: 1280px) {
  .price-table {
    padding: 25px 10px 0 10px;
  }
}

.price-table__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price-table__location {
  font-size: 25px;
  color: #8B171A;
  padding: 21px 39px 23px 17px;
  background-color: #FFF;
  border-top-right-radius: 30px;
}

.price-table__location img {
  margin-right: 11px;
}

.price-table__website {
  display: flex;
  align-items: center;
  background: #8F6626;
  border-radius: 8px;
  padding: 13px 28px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  font-size: 23px;
  line-height: 27px;
  color: #FFFFFF;
}

.price-table__website img {
  width: 34px;
  margin-right: 8px;
}

.price-table__tracking {
  display: block;
  max-width: -moz-fit-content;
  max-width: fit-content;
  margin: 0 auto;
  overflow-x: auto;
  white-space: nowrap;
}

.duo-header {
  padding: 10px 0;
  text-align: center;
}

.duo-header--top {
  border-bottom: 2px solid #8F6626;
}

.td-all {
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  padding: 16px 24px;
  color: #8F6626;
  background-color: #F0F0F0;
}

.td-all i {
  font-weight: 400;
  color: #2E2E2D;
}

.td-additional {
  display: block;
  font-size: 15px;
  font-weight: 400;
}

.table-filter {
  display: flex;
  margin-top: 20px;
  align-items: center;
}

.table-filter span {
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  color: #117c15;
  margin-right: 5px;
}

.table-filter__calendar {
  border: 2px solid #000000;
  border-radius: 7px;
  display: flex;
  padding: 5px 8px;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
}

.duo-column div:first-child {
  border-right: 2px solid #8F6626;
}

.data-duo-column {
  display: flex;
  justify-content: center;
}

table {
  border-collapse: collapse;
}

th,
td {
  border: 2px solid #8F6626;
  border-collapse: collapse;
}

table {
  background: #FFF;
}

thead {
  background-color: #F0F0F0;
}

th div {
  padding: 0 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

th img {
  margin-right: 8px;
}

td {
  font-size: 18px;
  font-weight: 600;
  color: #2E2E2D;
  padding: 0 10px 0 10px;
}

td:not(:first-child) {
  text-align: center;
}

.data-with-img {
  display: flex;
  align-items: center;
  color: #BD0000;
  justify-content: center;
}

.data-with-img img {
  margin-left: 20px;
}

.main-product {
  padding: 20px 109px 36px 109px;
}

@media only screen and (max-width: 1280px) {
  .main-product {
    padding: 20px 10px 36px 10px;
  }
}

.main-product img {
  width: 100%;
}

.bodhi-bg {
  margin-bottom: 18px;
  position: relative;
}

.main-product__find-product {
  position: absolute;
  left: 23%;
  top: 60%;
  cursor: pointer;
  border: 0.5px solid #595959;
  border-radius: 9px;
  font-weight: 400;
  font-size: 14px;
  color: #595959;
  padding: 4px 8px;
  background: inherit;
}

.main-product__find-product--charm {
  left: 46%;
  bottom: 50px;
  color: #FFF;
  top: unset;
  border: 0.5px solid #FFF;
}

.access-website {
  border: none;
  background: inherit;
  cursor: pointer;
  margin: 0 auto;
  display: block;
}

.company-info {
  margin-top: 20px;
}

.company-info .primary-header {
  text-align: center;
  max-width: 560px;
  margin: 0 auto 20px;
  display: block;
}

.company-info__intro {
  color: #222222;
  text-align: justify;
  margin-bottom: 40px;
}

.price-table__product-column {
  width: 220px !important;
}

.company-info__intro__separation {
  height: 10px;
}

.company-info__address {
  padding: 31px 0 26px;
  border-bottom: solid 2px #8B171A;
  border-top: solid 2px #8B171A;
}

.company-info__address__content {
  padding: 0 109px;
  display: grid;
  grid-gap: 20px 50px;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

@media only screen and (max-width: 1280px) {
  .company-info__address__content {
    padding: 0 10px;
  }
}

.company-info__address__content ul {
  list-style: none;
  padding-inline-start: 0;
}

.company-info__logo {
  margin-bottom: 13px;
  display: block;
}

.company-info__name {
  color: #8B171A;
  display: block;
}

.company-info__hotline {
  display: block;
  font-size: 30px;
  line-height: 35px;
  color: #8B171A;
}

.footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 109px;
  padding: 23px 0 80px;
  font-size: 12px;
}

.primary-header {
  font-size: 30px;
  font-weight: 700;
  color: #8B171A;
  line-height: 35px;
}

.secondary-header {
  font-weight: 500;
  font-size: 25px;
  line-height: 29px;
  color: #8B171A;
}

.secondary-header--bold {
  font-weight: 700;
}

.ternary-header {
  font-weight: 700;
  font-size: 23px;
  line-height: 25px;
}

.table-content {
  font-size: 18px;
  font-weight: 600;
}

.table-content--header {
  font-weight: 700;
  color: #8F6626;
}

.align-content {
  padding: 0 109px;
}

@media only screen and (max-width: 1281px) {
  .footer {
    padding: 10px 10px;
  }

  .align-content {
    padding: 0 10px;
  }
}

/* MOBILE CSS */
.mobile-company-name {
  display: none;
}

.company-info__mobile-address {
  display: none;
}

.charm-mobile-bg {
  display: none;
}

@media only screen and (max-width: 576px) {
  .charm-mobile-bg {
    display: block;
  }
  
  .charm-bg {
    display: none;
  }

  .header {
    flex-direction: column;
    padding: 34px 10px 13px 10px
  }

  .align-content {
    padding: 0 40px;
  }

  .header ul {
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-top: 7px;
  }

  .header__address {
    text-align: center;
  }

  .mobile-company-name {
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    color: #8B171A;
    margin-top: 7px;
    display: block;
  }

  .price-table__location {
    font-size: 20px;
    font-weight: 500;
    padding: 12px 22px 10px;
  }

  .price-table__website {
    font-size: 20px;
    padding: 6px;
  }

  .price-table__website img {
    height: 14px;
    width: 14px;
  }

  .table-content {
    font-size: 13px;
  }

  .td-additional {
    font-size: 11px;
  }

  .data-with-img img {
    margin-left: 8px;
  }

  td {
    font-size: 13px;
    padding: 0 5px 0 8px;
  }

  .table-filter span {
    font-size: 16px;
  }

  .table-filter__calendar {
    font-size: 12px;
    padding: 0 6px;
  }

  .table-filter__calendar img {
    height: 23px;
  }

  .main-product__find-product {
    font-size: 9px;
    line-height: 11px;
    padding: 3px 7px;
  }

  .main-product__find-product--charm {
    bottom: 10px;
    left: 43%;
  }

  .main-product {
    padding: 10px 10px 0 10px;
  }

  .access-website img {
    width: 202px;
  }

  .company-info {
    margin-top: 12px;
  }

  .company-info .primary-header {
    max-width: 310px;
  }

  .company-info__intro {
    font-size: 12px;
    line-height: 18px;
  }

  .company-info__intro__separation {
    height: 7px;
  }

  .duo-header--top {
    border-bottom: 1px solid #8F6626;
  }

  .company-info__logo {
    width: 271px;
    height: 50px;
    object-fit: cover;
    margin: 0 0 10px 0;
  }

  .company-info__address {
    padding: 28px 0 26px;
  }

  .company-info__name {
    font-size: 14px;
    margin-left: 0;
  }

  .company-info__address__left-block {
    margin: 0 auto;
  }

  .company-info__address__left-block ul {
    display: none;
  }

  .company-info__hotline {
    font-size: 20px;
    line-height: 28px;
  }

  .company-info__address__right-block {
    padding: 0 30px;
  }

  .company-info__address__content ul {
    font-size: 14px;
    line-height: 25px;
  }

  .company-info__mobile-address {
    display: block;
  }

  .footer {
    margin-right: 0;
    justify-content: center;
  }

  .footer img {
    width: 120px;
  }

  .footer__copyright {
    font-size: 11px;
  }

  .price-table__product-column {
    width: 230px;
  }

  table,
  th,
  td {
    border: 1px solid #8F6626;
    border-collapse: collapse;
  }

  .primary-header {
    font-size: 16px;
    line-height: 19px;
  }

  .secondary-header {
    font-size: 16px;
    line-height: 19px;
    font-weight: 700;
  }

  .td-all {
    font-size: 8px;
    font-weight: 600;
    padding: 10px;
    padding: 4px 10px;
  }

  .td-all i {
    font-size: 7px;
    line-height: 7px;
    display: block;
  }
}